<template>
  <section id="services" class="relative dark:bg-black">
    <div class="container mx-auto">
      <div>
        <h1 class="text-black dark:text-white">{{ $t('home.services.title') }}</h1>
        <hr class="mt-6 mb-10 w-16 border-2 rounded-full border-green" />
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
        <transition name="fade">
          <div v-if="animating" class="flex flex-col items-center">
            <img
              class="service-image rounded-xl h-64 sm:h-80 md:h-96 lg:h-80 w-full"
              :src="currentImage"
            />
            <div class="flex">
              <hr
                v-for="service in services"
                :key="service.id"
                class="mt-6 mx-2 w-8 border-2 rounded-full"
                :class="service.id === serviceIndex ? 'border-black dark:border-white' : 'border-black-300 dark:border-gray-700'"
              />
            </div>
          </div>
        </transition>

        <div class="flex flex-col justify-center">
          <transition name="slide-fade">
            <div v-if="animating">
              <h2 class="text-black dark:text-white">{{ $t(services[serviceIndex].title) }}</h2>
              <hr class="mt-6 mb-10 w-16 border-2 rounded-full border-green" />
              <p class="leading-relaxed text-black dark:text-white font-light">
                {{ $t(services[serviceIndex].description) }}
              </p>
            </div>
          </transition>

          <div class="mt-4">
            <button
              class="dark:bg-white uppercase border-l-2 border-t-2 border-b-2 border-r-1 p-2 rounded-l-full border-black transition hover:opacity-50"
              :class="classes"
              @click="previous"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                width="20px"
                height="20px"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 19l-7-7 7-7"
                />
              </svg>
            </button>
            <button
              class="dark:bg-white uppercase border-l-2 border-t-2 border-b-2 border-r-2 p-2 rounded-r-full border-black transition hover:opacity-50"
              :class="classes"
              @click="next"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                width="20px"
                height="20px"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l7 7-7 7"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  data() {
    return {
      menu: false,
      serviceIndex: 0,
      animating: true,
      services: [
        {
          id: 0,
          image: '/assets/img/home/home_services_communication.jpg',
          title: 'home.services.communication',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        },
        {
          id: 1,
          image: '/assets/img/home/home_services_development.jpg',
          title: 'home.services.development',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        },
        {
          id: 2,
          image: '/assets/img/home/home_services_design.jpg',
          title: 'home.services.design',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        },
        {
          id: 3,
          image: '/assets/img/home/home_services_event.jpg',
          title: 'home.services.event',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        },
      ],
    }
  },
  computed: {
    currentImage(): string {
      return this.services[this.serviceIndex].image
    },
  },
  methods: {
    previous() {
      if (this.serviceIndex === 0) {
        this.serviceIndex = this.services.length - 1
      } else {
        this.serviceIndex--
      }

      this.animating = false

      setTimeout(() => {
        this.animating = true
      }, 200)
    },
    next() {
      if (this.serviceIndex === this.services.length - 1) {
        this.serviceIndex = 0
      } else {
        this.serviceIndex++
      }

      this.animating = false

      setTimeout(() => {
        this.animating = true
      }, 200)
    },
  },
})
</script>

<style lang="postcss" scoped>
.service-image {
  object-fit: cover;
}

/* Carousel Animations */
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0.1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
