<template>
  <section class="relative header bg-gradient">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-10">
      <div>
        <h1 class="text-white">{{ $t('home.title') }}</h1>
        <hr class="mt-6 mb-10 w-16 border-2 rounded-full border-green" />
        <p class="mt-5 leading-relaxed text-white font-light">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>

    <img
      class="absolute top-0 right-0 hidden lg:block max-w-xl"
      src="/assets/img/home/home_shapes.svg"
    />
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Button from '../../atoms/Button.vue'

export default defineComponent({
  components: {
    Button,
  },
  data() {
    return {
      menu: false,
    }
  },
})
</script>

<style lang="postcss" scoped></style>
