<template>
  <section id="team" class="relative bg-lightGray dark:bg-black">
    <div class="container mx-auto">
      <div>
        <h1 class="text-black dark:text-white">{{ $t('home.team.title') }}</h1>
        <hr class="mt-6 mb-10 w-16 border-2 rounded-full border-green" />
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
        <div
          v-for="member in members"
          :key="member.id"
          class="flex flex-col items-center text-center mb-10 transition ease-in-out duration-500 transform hover:-translate-y-4"
        >
          <img class="bg-black w-32 h-32 rounded-full" :src="member.image" />
          <span class="text-black dark:text-white font-bold mt-2">{{ member.name }}</span>
          <span class="text-black dark:text-white font-light">{{ member.job }}</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  data() {
    return {
      menu: false,
      serviceIndex: 0,
      members: [
        {
          id: 0,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Clara Ginouves',
          job: 'Profession',
        },
        {
          id: 1,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Olivier Marchond',
          job: 'Profession',
        },
        {
          id: 2,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Damien Berne',
          job: 'Profession',
        },
        {
          id: 3,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Lucie Chedebois',
          job: 'Profession',
        },
        {
          id: 4,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Guillaume Duarte',
          job: 'Profession',
        },
        {
          id: 5,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Corentin Goujon Cholet',
          job: 'Profession',
        },
        {
          id: 6,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'François Gillard',
          job: 'Profession',
        },
        {
          id: 7,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Even Aragon',
          job: 'Profession',
        },
        {
          id: 8,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Théophile Jean',
          job: 'Profession',
        },
        {
          id: 9,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Maxence Lhuillier',
          job: 'Profession',
        },
        {
          id: 10,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Pierre-André Marie',
          job: 'Profession',
        },
        {
          id: 11,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Ndeye-Houdia Sylla',
          job: 'Profession',
        },
        {
          id: 12,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Julien Royau',
          job: 'Profession',
        },
        {
          id: 13,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Nicolas Pillet',
          job: 'Profession',
        },
        {
          id: 14,
          image: 'https://eu.ui-avatars.com/api/?name=J+D',
          name: 'Frédéric Dinand',
          job: 'Profession',
        },
      ],
    }
  },
})
</script>

<style lang="postcss" scoped></style>
