<template>
  <HomeHeader />
  <HomeServices />
  <HomeTeam />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import HomeHeader from '../components/molecules/home/HomeHeader.vue'
import HomeServices from '../components/molecules/home/HomeServices.vue'
import HomeTeam from '../components/molecules/home/HomeTeam.vue'

export default defineComponent({
  components: {
    HomeHeader,
    HomeServices,
    HomeTeam
  },
})
</script>

<style lang="postcss" scoped></style>
