<template>
  <section class="relative header bg-gradient">
    <div class="container mx-auto flex flex-col items-center">
      <h1 class="mb-5 md:mb-10 text-white">{{ $t('legal.title') }}</h1>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Button from '../components/atoms/Button.vue'

export default defineComponent({
  components: { Button },
})
</script>

<style lang="postcss" scoped></style>
