<template>
  <button
    class="font-bold uppercase border-2 px-5 py-3 rounded-full transition hover:borner-0"
    :class="classes"
    @click="$props.to ? $router.push($props.to) : ''"
  >
    <slot />
  </button>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export enum ButtonStyle {
  DEFAULT = 'default',
  DARK = 'dark',
}

export default defineComponent({
  props: {
    type: {
      type: String,
      default: 'default',
    },
    to: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      menu: false,
    }
  },
  computed: {
    classes(): string {
      switch (this.$props.type) {
        case ButtonStyle.DEFAULT:
          return 'text-white border-white hover:bg-white hover:text-primary'
        case ButtonStyle.DARK:
          return 'text-black border-black hover:bg-black hover:text-white'
        default:
          return ''
      }
    },
  },
})
</script>

<style lang="postcss" scoped></style>
