<template>
  <footer class="bg-black flex flex-col items-center">
    <router-link to="/">
      <span class="sr-only">Workflow</span>
      <img class="w-auto h-14" src="/assets/img/header_logo.svg" alt="" />
    </router-link>

    <div class="mt-5 flex flex-col text-center sm:flex-row">
      <a :href="link.path" class="text-white mx-4 font-light" v-for="link in links" :key="link.title">{{
        link.title
      }}</a>
    </div>

    <p class="text-white font-light mt-5">
      {{ new Date().getFullYear() }} L.U.N.E.S. |
      <router-link class="text-white" to="/legal">{{ $t('footer.legal') }}</router-link>
    </p>
  </footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  computed: {
    links() {
      return [
        {
          title: this.$t('header.services'),
          path: '/#services',
        },
        {
          title: this.$t('header.team'),
          path: '/#team',
        },
        {
          title: this.$t('header.contact'),
          path: 'mailto:contact@lunes.com',
        },
      ]
    },
  },
  data() {
    return {}
  },
})
</script>

<style lang="postcss" scoped></style>
