<template>
  <teleport to="head">
    <title>{{ meta.title }}</title>
    <meta name="description" :content="meta.description" />

    <meta name="og:title" :content="meta.meta.property['og:title']" />
    <meta name="og:description" :content="meta.meta.property['og:description']" />
    <meta name="twitter:title" :content="meta.meta.property['twitter:title']" />
    <meta name="twitter:description" :content="meta.meta.property['twitter:description']" />
  </teleport>

  <div id="app" class="flex flex-col w-full font-sans">
    <Header />
    <router-view />
    <Footer />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { generateMeta } from './seo/index'
import Header from './components/molecules/Header.vue'
import Footer from './components/molecules/Footer.vue'

export default defineComponent({
  components: {
    Header,
    Footer
  },
  computed: {
    meta() {
      return generateMeta(this.$route.path)
    },
  },
})
</script>

<style lang="postcss" scoped></style>
