@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
   scroll-behavior: smooth;
}

h1 {
  @apply text-3xl md:text-5xl  font-bold;
}

h2 {
  @apply text-2xl md:text-4xl font-bold;
  @apply font-subtitle;
}

h3 {
  @apply text-xl md:text-3xl;
}

a {
  @apply transition hover:opacity-60 text-blue-light;
}

.bg-gradient {
  background: linear-gradient(180deg, #154b62 0%, #0d3241 100%);
}

section {
  @apply py-40;
}

section .container {
  @apply px-28;
}

.header {
  margin-top: 104px;
}

footer {
   @apply py-20;
}

@media (max-width: 768px) {
  section {
    @apply py-10;
  }

  section .container {
    @apply px-10;
  }

  .header {
    margin-top: 104px;
  }
  
  footer {
   @apply py-5;
}
}
